In [1]:
import mysql.connector
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.0f}'.format

db_config = {
    "host": "localhost",
    "user": "root",
    "password": "Kaizaki217$*",
    "database": "genshin"
}

conn = mysql.connector.connect(**db_config)

# Data processing

In [2]:
pd.read_sql("SHOW TABLES", conn)

  Tables_in_genshin
0             abyss
1      char_details
2           revenue

In [3]:
abyss = pd.read_sql("SELECT * FROM abyss;", conn)

In [4]:
abyss.head()

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,55.56,27.6,51.3,47.4,44.1,61.4,42,...,24.6,17.9,15.7,30.1,8.6,5.4,7.9,6,4,31
1,Alhaitham,5,Dendro,,,,,,,,...,,,,,56,56.6,57.6,41,65,55
2,Amber,4,Pyro,1.9,1.5,0.3,0.2,0.7,0.8,1,...,0.2,0.4,0.5,1,0.2,0.1,0.1,0,0,1
3,Arataki Itto,5,Geo,,,,,,,39,...,17.3,16.9,15.2,39.6,10.6,6.4,11.1,8,5,20
4,Baizhu,5,Dendro,,,,,,,,...,,,,,,,,54,59,56

In [5]:
char = pd.read_sql("SELECT * FROM char_details", conn)
char.head()

,character_name,Region,rarity,vision,weapon_type,constellation,birthday,special_dish,affiliation
0,Albedo,Mondstadt,5,Geo,Sword,Princeps Cretaceus,13-Sep,Woodland Dream,Knights of Favonius
1,Alhaitham,Sumeru,5,Dendro,Sword,Vultur Volans,11-Feb,Ideal Circumstance,Sumeru Akademiya
2,Amber,Mondstadt,4,Pyro,Bow,Lepus,10-Aug,Outrider's Champion Steak!,Knights of Favonius
3,Arataki Itto,Inazuma,5,Geo,Claymore,Taurus Iracundus,01-Jun,Way of the Strong,Arataki Gang
4,Baizhu,Liyue,5,Dendro,Catalyst,Lagenaria,25-Apr,Heat-Quelling Soup,Bubu Pharmacy

In [6]:
revenue = pd.read_sql("SELECT * FROM revenue", conn)
revenue.head()

         Banner (IOS CN Market only)      Element(s)  Revenue (USD)
0   Hu Tao & Yelan (2nd & 1st Rerun)     Pyro, Hydro       46556153
1  Shougun & Ayato (2nd & 1st Rerun)  Electro, Hydro       37919130
2   Ayaka & Shenhe (2nd & 1st Rerun)            Cryo       35962024
3                      Ayaka (Rerun)            Cryo       35939066
4       Nahida & Yoimiya (2nd Rerun)    Dendro, Pyro       34017290

In [7]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            66 non-null     object
 4   1.6            66 non-null     object
 5   2              66 non-null     object
 6   2.1            66 non-null     object
 7   2.2            66 non-null     object
 8   2.3            66 non-null     object
 9   2.4            66 non-null     object
 10  2.5            66 non-null     object
 11  2.6            66 non-null     object
 12  2.7            66 non-null     object
 13  2.8            66 non-null     object
 14  3              66 non-null     object
 15  3.1            66 non-null     object
 16  3.2            66 non-null     object
 17  3.3            66 non-null     object
 18  3.4            66 non-null     object
 19  3.5            66 non-null     object
 20  3.6            66 non-null     object
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(3), int64(1), object(20)
memory usage: 12.5+ KB

In [8]:
char.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   character_name  66 non-null     object
 1   Region          66 non-null     object
 2   rarity          66 non-null     int64
 3   vision          66 non-null     object
 4   weapon_type     66 non-null     object
 5   constellation   66 non-null     object
 6   birthday        66 non-null     object
 7   special_dish    66 non-null     object
 8   affiliation     66 non-null     object
dtypes: int64(1), object(8)
memory usage: 4.8+ KB

In [9]:
revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Banner (IOS CN Market only)  51 non-null     object
 1   Element(s)                   51 non-null     object
 2   Revenue (USD)                51 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

# Abyss Table

#### The first issue I notice is that the data in the abyss columns aren't numeric. I fix this by first creating a list of the columns I wan't to turn into the numeric type and use pandas to convert them.

In [10]:
abyss_cols = abyss.columns.tolist()
del abyss_cols[0]
del abyss_cols[0]
del abyss_cols[0]
del abyss_cols[-1]
abyss_cols

['1.5',
 '1.6',
 '2',
 '2.1',
 '2.2',
 '2.3',
 '2.4',
 '2.5',
 '2.6',
 '2.7',
 '2.8',
 '3',
 '3.1',
 '3.2',
 '3.3',
 '3.4',
 '3.5',
 '3.6',
 '3.7',
 '3.8']

In [11]:
for col in abyss_cols:
    abyss[col] = pd.to_numeric(abyss[col], errors='coerce')
    
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,56,28,51,47,44,61,42,...,25,18,16,30,9,5,8,6,4,31
1,Alhaitham,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56,57,58,41,65,55
2,Amber,4,Pyro,2,2,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,1
3,Arataki Itto,5,Geo,NaN,NaN,NaN,NaN,NaN,NaN,39,...,17,17,15,40,11,6,11,8,5,20
4,Baizhu,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,59,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,7,11,5,8,9
62,Yelan,5,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89,72,69,73,62,80,87,73,71,76
63,Yoimiya,5,Pyro,NaN,NaN,NaN,32,28,20,27,...,44,24,25,35,9,19,8,18,5,25
64,Yun Jin,4,Geo,NaN,NaN,NaN,NaN,NaN,NaN,21,...,11,5,5,14,3,3,2,2,1,7
65,Zhongli,5,Geo,84,95,96,92,85,83,68,...,84,67,68,88,78,65,66,66,52,78

In [12]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            30 non-null     float64
 4   1.6            32 non-null     float64
 5   2              33 non-null     float64
 6   2.1            36 non-null     float64
 7   2.2            40 non-null     float64
 8   2.3            41 non-null     float64
 9   2.4            44 non-null     float64
 10  2.5            45 non-null     float64
 11  2.6            46 non-null     float64
 12  2.7            48 non-null     float64
 13  2.8            49 non-null     float64
 14  3              52 non-null     float64
 15  3.1            55 non-null     float64
 16  3.2            57 non-null     float64
 17  3.3            59 non-null     float64
 18  3.4            61 non-null     float64
 19  3.5            63 non-null     float64
 20  3.6            64 non-null     float64
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(21), int64(1), object(2)
memory usage: 12.5+ KB

#### Now we get rid of the null values, considering the table consists of usage rate, if it's null, it indicates the character was not used at all during the version patch. Now while this may seem to extreme, it simply means that the character has not been released at the time of patch.

In [13]:
abyss = abyss.replace(np.nan, '', regex=True)
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,56,28,51,47,44,61,42,...,25,18,16,30,9,5,8,6,4,31
1,Alhaitham,5,Dendro,,,,,,,,...,,,,,56,57,58,41,65,55
2,Amber,4,Pyro,2,2,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,1
3,Arataki Itto,5,Geo,,,,,,,39,...,17,17,15,40,11,6,11,8,5,20
4,Baizhu,5,Dendro,,,,,,,,...,,,,,,,,54,59,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,,,,,,,,...,,,,,12,7,11,5,8,9
62,Yelan,5,Hydro,,,,,,,,...,89,72,69,73,62,80,87,73,71,76
63,Yoimiya,5,Pyro,,,,32,28,20,27,...,44,24,25,35,9,19,8,18,5,25
64,Yun Jin,4,Geo,,,,,,,21,...,11,5,5,14,3,3,2,2,1,7
65,Zhongli,5,Geo,84,95,96,92,85,83,68,...,84,67,68,88,78,65,66,66,52,78

In [14]:
abyss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Version ->     66 non-null     object
 1   Rarity         66 non-null     int64
 2   Vision         66 non-null     object
 3   1.5            66 non-null     object
 4   1.6            66 non-null     object
 5   2              66 non-null     object
 6   2.1            66 non-null     object
 7   2.2            66 non-null     object
 8   2.3            66 non-null     object
 9   2.4            66 non-null     object
 10  2.5            66 non-null     object
 11  2.6            66 non-null     object
 12  2.7            66 non-null     object
 13  2.8            66 non-null     object
 14  3              66 non-null     object
 15  3.1            66 non-null     object
 16  3.2            66 non-null     object
 17  3.3            66 non-null     object
 18  3.4            66 non-null     object
 19  3.5            66 non-null     object
 20  3.6            66 non-null     object
 21  3.7            66 non-null     float64
 22  3.8            66 non-null     float64
 23  Average usage  66 non-null     float64
dtypes: float64(3), int64(1), object(20)
memory usage: 12.5+ KB

#### The issue with this is that it changes the type back into objects, which is not what I want. I'll revert the changes and keep the null values. This will not be an issue since the visualization tools I'll be using (Power BI and sns/matplotlib) can easily just ignore the null values.

In [15]:
for col in abyss_cols:
    abyss[col] = pd.to_numeric(abyss[col], errors='coerce')
    
abyss

,Version ->,Rarity,Vision,1.5,1.6,2,2.1,2.2,2.3,2.4,...,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,Average usage
0,Albedo,5,Geo,56,28,51,47,44,61,42,...,25,18,16,30,9,5,8,6,4,31
1,Alhaitham,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,56,57,58,41,65,55
2,Amber,4,Pyro,2,2,0,0,1,1,1,...,0,0,0,1,0,0,0,0,0,1
3,Arataki Itto,5,Geo,NaN,NaN,NaN,NaN,NaN,NaN,39,...,17,17,15,40,11,6,11,8,5,20
4,Baizhu,5,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,59,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12,7,11,5,8,9
62,Yelan,5,Hydro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89,72,69,73,62,80,87,73,71,76
63,Yoimiya,5,Pyro,NaN,NaN,NaN,32,28,20,27,...,44,24,25,35,9,19,8,18,5,25
64,Yun Jin,4,Geo,NaN,NaN,NaN,NaN,NaN,NaN,21,...,11,5,5,14,3,3,2,2,1,7
65,Zhongli,5,Geo,84,95,96,92,85,83,68,...,84,67,68,88,78,65,66,66,52,78

# Elemental Usage

#### Next I want to create a table that'll allow me to see the elemental usage rate over time. I do this by using the grouping function to group together the elements throughout their versions.

In [16]:
elemental_usage = abyss.groupby('Vision')[abyss_cols].mean()

elemental_usage

,1.5,1.6,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8
Vision,,,,,,,,,,,,,,,,,,,,
Anemo,59,62,41,41,40,33,26,27,37,28,31,24,20,20,17,15,12,12,16,13
Cryo,35,29,27,28,31,28,30,21,34,13,25,24,20,18,11,6,11,8,11,10
Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,20,28,29,34,34,29,26,30
Electro,12,8,6,12,19,19,16,24,16,15,14,14,17,20,19,17,19,18,15,16
Geo,41,34,41,38,34,39,30,38,13,30,23,21,16,16,28,15,12,13,12,9
Hydro,38,34,43,41,42,43,48,43,51,37,47,47,34,39,37,32,35,40,32,43
Pyro,30,27,21,24,27,25,24,24,13,29,32,28,21,19,22,16,23,17,22,13

#### It looks a bit hard to read so I limited it to 2 decimal places. Note that we leave the null values in due to the same reason above.

In [17]:
elemental_usage = elemental_usage.round(decimals=2)
elemental_usage

,1.5,1.6,2,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,3,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8
Vision,,,,,,,,,,,,,,,,,,,,
Anemo,59,62,41,41,40,33,26,27,37,28,31,24,20,20,17,15,12,12,16,13
Cryo,35,29,27,28,31,28,30,21,34,13,25,24,20,18,11,6,11,8,11,10
Dendro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,20,28,29,34,34,29,26,30
Electro,12,8,6,12,19,19,16,24,16,15,14,14,17,20,19,17,19,18,15,16
Geo,41,34,41,38,34,39,30,38,13,30,23,21,16,16,28,15,12,13,12,9
Hydro,38,34,43,41,42,43,48,43,51,37,47,47,34,39,37,32,35,40,32,43
Pyro,30,27,21,24,27,25,24,24,13,29,32,28,21,19,22,16,23,17,22,13

In [44]:
# elemental_usage.to_csv('csv_files/elemental_usage.csv', index=True)

In [19]:
# abyss.to_csv('csv_files/abyss.csv', index=False)

# Character Table

#### There's some information I'd like that's missing from the data. The flat statistics of each character and the breakdown of the double banners present on the revenue table. So I obtain them first.

### Obtaining Flat Stats

In [20]:
url_1='https://genshin-impact.fandom.com/wiki/Character/Comparison'
url_2='https://genshin-impact.fandom.com/wiki/Characters'
tables_1 = pd.read_html(url_1)
tables_2 = pd.read_html(url_2)

tables_2[1]

    Icon          Name  Quality Element    Weapon     Region     Model Type
0    NaN        Albedo      NaN     Geo     Sword  Mondstadt    Medium Male
1    NaN     Alhaitham      NaN  Dendro     Sword     Sumeru      Tall Male
2    NaN          Aloy      NaN    Cryo       Bow       None  Medium Female
3    NaN         Amber      NaN    Pyro       Bow  Mondstadt  Medium Female
4    NaN  Arataki Itto      NaN     Geo  Claymore    Inazuma      Tall Male
..   ...           ...      ...     ...       ...        ...            ...
65   NaN        Yaoyao      NaN  Dendro   Polearm      Liyue   Short Female
66   NaN         Yelan      NaN   Hydro       Bow      Liyue    Tall Female
67   NaN       Yoimiya      NaN    Pyro       Bow    Inazuma  Medium Female
68   NaN       Yun Jin      NaN     Geo   Polearm      Liyue  Medium Female
69   NaN       Zhongli      NaN     Geo   Polearm      Liyue      Tall Male

[70 rows x 7 columns]

In [21]:
tables_1[0]

    Icon          Name     HP  ATK  DEF    Ascension Stat Ascension Stat Value
0    NaN        Albedo  13225  251  876     Geo DMG Bonus                28.8%
1    NaN     Alhaitham  13348  313  781  Dendro DMG Bonus                28.8%
2    NaN          Aloy  10898  233  676    Cryo DMG Bonus                28.8%
3    NaN         Amber   9461  223  600               ATK                24.0%
4    NaN  Arataki Itto  12858  227  959         CRIT Rate                19.2%
..   ...           ...    ...  ...  ...               ...                  ...
65   NaN        Yaoyao  12288  212  750                HP                24.0%
66   NaN         Yelan  14450  243  547         CRIT Rate                19.2%
67   NaN       Yoimiya  10164  322  614         CRIT Rate                19.2%
68   NaN       Yun Jin  10657  191  734   Energy Recharge                26.8%
69   NaN       Zhongli  14695  251  737     Geo DMG Bonus                28.8%

[70 rows x 7 columns]

In [22]:
df1 = tables_1[0].drop(['Icon'], axis=1)
df2 = tables_2[1].drop(['Icon'], axis=1)
merged = df1.merge(df2, on='Name')

char.rename(columns={'character_name' : 'Name'}, inplace=True)
new_char = char.merge(merged, on='Name')
new_char.rename(columns={'Region_y' : 'Nation'}, inplace=True)
new_char = new_char.drop(['Quality', 'Region_x'], axis=1)
new_char.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66 entries, 0 to 65
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  66 non-null     object
 1   rarity                66 non-null     int64
 2   vision                66 non-null     object
 3   weapon_type           66 non-null     object
 4   constellation         66 non-null     object
 5   birthday              66 non-null     object
 6   special_dish          66 non-null     object
 7   affiliation           66 non-null     object
 8   HP                    66 non-null     int64
 9   ATK                   66 non-null     int64
 10  DEF                   66 non-null     int64
 11  Ascension Stat        66 non-null     object
 12  Ascension Stat Value  66 non-null     object
 13  Element               66 non-null     object
 14  Weapon                66 non-null     object
 15  Nation                66 non-null     object
 16  Model Type            66 non-null     object
dtypes: int64(4), object(13)
memory usage: 9.3+ KB

In [23]:
new_char

,Name,rarity,vision,weapon_type,constellation,birthday,special_dish,affiliation,HP,ATK,DEF,Ascension Stat,Ascension Stat Value,Element,Weapon,Nation,Model Type
0,Albedo,5,Geo,Sword,Princeps Cretaceus,13-Sep,Woodland Dream,Knights of Favonius,13225,251,876,Geo DMG Bonus,28.8%,Geo,Sword,Mondstadt,Medium Male
1,Alhaitham,5,Dendro,Sword,Vultur Volans,11-Feb,Ideal Circumstance,Sumeru Akademiya,13348,313,781,Dendro DMG Bonus,28.8%,Dendro,Sword,Sumeru,Tall Male
2,Amber,4,Pyro,Bow,Lepus,10-Aug,Outrider's Champion Steak!,Knights of Favonius,9461,223,600,ATK,24.0%,Pyro,Bow,Mondstadt,Medium Female
3,Arataki Itto,5,Geo,Claymore,Taurus Iracundus,01-Jun,Way of the Strong,Arataki Gang,12858,227,959,CRIT Rate,19.2%,Geo,Claymore,Inazuma,Tall Male
4,Baizhu,5,Dendro,Catalyst,Lagenaria,25-Apr,Heat-Quelling Soup,Bubu Pharmacy,13348,192,499,HP,28.8%,Dendro,Catalyst,Liyue,Tall Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Yaoyao,4,Dendro,Polearm,Osmanthus,06-Mar,Qingce Household Dish,Streetward Rambler's Abode,12288,212,750,HP,24.0%,Dendro,Polearm,Liyue,Short Female
62,Yelan,5,Hydro,Bow,Umbrabilis Orchis,20-Apr,Dew-Dipped Shrimp,Yanshang Teahouse,14450,243,547,CRIT Rate,19.2%,Hydro,Bow,Liyue,Tall Female
63,Yoimiya,5,Pyro,Bow,Carassius Auratus,21-Jun,Summer Festival Fish,Naganohara Fireworks,10164,322,614,CRIT Rate,19.2%,Pyro,Bow,Inazuma,Medium Female
64,Yun Jin,4,Geo,Polearm,Opera Grandis,21-May,Cloud-Shrouded Jade,Yun-Han Opera House,10657,191,734,Energy Recharge,26.8%,Geo,Polearm,Liyue,Medium Female
65,Zhongli,5,Geo,Polearm,Lapis Dei,31-Dec,Slow-Cooked Bamboo Shoot Soup,Liyue Harbor,14695,251,737,Geo DMG Bonus,28.8%,Geo,Polearm,Liyue,Tall Male

In [24]:
# new_char.to_csv('csv_files/characters.csv', index=False)

# Breaking Down The Double Banners

#### The first step is to split the column. 1 column for each character, if a character is not present, the 2nd column will simply contain 'none'.

In [25]:
revenue_1 = revenue['Banner (IOS CN Market only)'].str.split('&', n=1, expand=True)

In [26]:
revenue_1.columns = ['character1', 'character2']
revenue = revenue.drop(['Banner (IOS CN Market only)'], axis=1)
revenue = pd.concat([revenue, revenue_1], axis=1)

#### Next, I repeat the same step except for the elements

In [27]:
revenue_1 = revenue['Element(s)'].str.split(',', n=1, expand=True)
revenue_1.columns = ['element1', 'element2']
revenue = revenue.drop(['Element(s)'], axis=1)
revenue = pd.concat([revenue, revenue_1], axis=1)

#### Now I want to create 2 additional columns, each for the corresponding character. The column will indicate whether it is a rerun banner and if it is, then which rerun it is.

In [28]:
def find_index(x):
    for index, letter in enumerate(x):
        if letter ==  '(':
            return index

rerun1 = []        
for char in revenue['character1']:
    if '(' in char:
        index = find_index(char);
        rerun1.append(char[index:])
    else:
        rerun1.append('no')
revenue['rerun1'] = pd.DataFrame(rerun1)

In [29]:
revenue['character2'].fillna('none', inplace=True)
revenue['element2'].fillna('none', inplace=True)

temp = []
for char in revenue['character2']:
    if '(' in char:
        index = find_index(char)
        temp.append(char[index:])
    else:
        temp.append('no')

rerun1_v2 = []
rerun2 = []

for char in temp:
    if '&' in char:
        rerun1_v2.append(char.split('&')[0])
        rerun2.append(char.split('&')[1])
    else:
        rerun1_v2.append('no')
        rerun2.append(char)
revenue['rerun2'] = pd.DataFrame(rerun2)

In [30]:
for index, char in enumerate(revenue['rerun1']):
    if char != rerun1_v2[index]:
        revenue['rerun1'][index] = rerun1_v2[index]
        
for index,char in enumerate(revenue['character1']):
    if '(Rerun)' in char:
        revenue['rerun1'][index] = '1'

for index, char in enumerate(revenue['character2']):
    if '(Rerun)' in char:
        revenue['rerun2'][index] = '1'
revenue

,Revenue (USD),character1,character2,element1,element2,rerun1,rerun2
0,46556153,Hu Tao,Yelan (2nd & 1st Rerun),Pyro,Hydro,(2nd,1st Rerun)
1,37919130,Shougun,Ayato (2nd & 1st Rerun),Electro,Hydro,(2nd,1st Rerun)
2,35962024,Ayaka,Shenhe (2nd & 1st Rerun),Cryo,none,(2nd,1st Rerun)
3,35939066,Ayaka (Rerun),none,Cryo,none,1,no
4,34017290,Nahida,Yoimiya (2nd Rerun),Dendro,Pyro,no,(2nd Rerun)
5,33560259,Shougun,Kokomi (Rerun),Electro,Hydro,no,1
6,33020905,Raiden Shogun,none,Electro,none,no,no
7,32177144,Yelan,Xiao (2nd Rerun),Hydro,Anemo,no,(2nd Rerun)
8,30632752,Venti,none,Anemo,none,no,no
9,28019235,Nahida,Nilou (1st Rerun),Dendro,Hydro,no,(1st Rerun)
10,27126505,Wanderer,Itto (2nd Rerun),Anemo,Geo,no,(2nd Rerun)
11,26780298,Zhongli,Ganyu (2nd & 1st Rerun),Geo,Cryo,(2nd,1st Rerun)
12,25226952,Hu Tao (Rerun),none,Pyro,none,1,no
13,24808479,Kazuha,Klee (1st & 2nd Rerun),Anemo,Pyro,(1st,2nd Rerun)
14,22767455,Ayato,Venti (2nd Rerun),Hydro,Anemo,no,(2nd Rerun)
15,22750080,Klee,none,Pyro,none,no,no
16,19068372,Tighnari,Zhongli (3rd Rerun),Dendro,Geo,no,(3rd Rerun)
17,19052023,Cyno,Venti (3rd Rerun),Electro,Anemo,no,(3rd Rerun)
18,18437409,Tartaglia,Yae Miko (3rd & 1st Rerun),Hydro,Electro,(3rd,1st Rerun)
19,18361860,Alhaitham,Xiao (3rd Rerun),Dendro,Anemo,no,(3rd Rerun)
20,17459928,Alhaitham,Kazuha (1st & 2nd Rerun),Dendro,Anemo,(1st,2nd Rerun)
21,17026066,Albedo,Eula (Rerun),Geo,Cryo,no,1
22,16994406,Shenhe,Xiao (Rerun),Cryo,Anemo,no,1
23,16614209,Venti (Rerun),none,Anemo,none,1,no
24,16451006,Ayaka,none,Cryo,none,no,no
25,16264892,Zhongli,none,Geo,none,no,no
26,15731680,Nilou,Albedo (2nd Rerun),Hydro,Geo,no,(2nd Rerun)
27,15681840,Ganyu,Kokomi (2nd Rerun),Cryo,Hydro,no,(2nd Rerun)
28,15669918,Ganyu,none,Cryo,none,no,no
29,15110264,Yae Miko,none,Electro,none,no,no
30,14333266,Yoimiya (Rerun),none,Pyro,none,1,no
31,13443619,Tartaglia,none,Hydro,none,no,no
32,13404072,Itto,none,Geo,none,no,no
33,13198046,Dehya,Cyno (1st Rerun),Pyro,Electro,no,(1st Rerun)
34,13145115,Xiao,none,Anemo,none,no,no
35,12619390,Eula,none,Cryo,none,no,no
36,12586764,Itto (Rerun),none,Geo,none,1,no
37,12481634,Hu Tao,none,Pyro,none,no,no
38,11816107,Albedo,none,Geo,none,no,no
39,10215165,Zhongli (Rerun),none,Geo,none,1,no
40,9807112,Kazuha,none,Anemo,none,no,no
41,9505798,Keqing,none,Electro,none,no,no
42,9154188,Yoimiya,Yae Miko (3rd & 2nd Rerun),Pyro,Electro,(3rd,2nd Rerun)
43,9108580,Baizhu,Ganyu (3rd Rerun),Dendro,Cryo,no,(3rd Rerun)
44,8905726,Kokomi,Wanderer (3rd & 1st Rerun),Hydro,Anemo,(3rd,1st Rerun)
45,8615144,Yoimiya,none,Pyro,none,no,no
46,7785438,Tartaglia (2nd Rerun),none,Hydro,none,no,no
47,7020975,Kokomi,none,Hydro,none,no,no
48,7006180,Klee (Rerun),none,Pyro,none,1,no
49,6965445,Tartaglia (Rerun),none,Hydro,none,1,no
50,6458188,Eula,Klee (2nd & 3rd Rerun),Cryo,Pyro,(2nd,3rd Rerun)

#### The columns have been successfully created. Now I'll clean up the columns to make it easier to analyse

In [31]:
revenue['character1'] = revenue.character1.apply(lambda x: x.split('(')[0] if '(' in x else x)
revenue['character2'] = revenue.character2.apply(lambda x: x.split('(')[0] if '(' in x else x)
revenue['rerun1'] = revenue['rerun1'].map(lambda i: ''.join([x for x in i if x.isdigit()]))
revenue['rerun2'] = revenue['rerun2'].map(lambda i: ''.join([x for x in i if x.isdigit()]))
revenue.rename(columns={'rerun1':'banner1', 'rerun2':'banner2'}, inplace=True)

#### I decided it'd be easier to work with the banner number (i.e is it the first, second or third banner) instead of seeing whether it's a rerun or not

In [32]:
revenue['banner1'][46] = '2'
revenue['banner1'] = pd.to_numeric(revenue['banner1'])
revenue['banner2'] = pd.to_numeric(revenue['banner2'])
revenue['banner1'].fillna(0, inplace=True)
revenue['banner2'].fillna(0, inplace=True)

revenue['banner1'] = revenue['banner1'] + 1
revenue['banner2'] = revenue['banner2'] + 1

for index, char in enumerate(revenue['character2']):
    if char == 'none':
        revenue['banner2'][index] = 0

revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3,2
1,37919130,Shougun,Ayato,Electro,Hydro,3,2
2,35962024,Ayaka,Shenhe,Cryo,none,3,2
3,35939066,Ayaka,none,Cryo,none,2,0
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1,3
5,33560259,Shougun,Kokomi,Electro,Hydro,1,2
6,33020905,Raiden Shogun,none,Electro,none,1,0
7,32177144,Yelan,Xiao,Hydro,Anemo,1,3
8,30632752,Venti,none,Anemo,none,1,0
9,28019235,Nahida,Nilou,Dendro,Hydro,1,2
10,27126505,Wanderer,Itto,Anemo,Geo,1,3
11,26780298,Zhongli,Ganyu,Geo,Cryo,3,2
12,25226952,Hu Tao,none,Pyro,none,2,0
13,24808479,Kazuha,Klee,Anemo,Pyro,2,3
14,22767455,Ayato,Venti,Hydro,Anemo,1,3
15,22750080,Klee,none,Pyro,none,1,0
16,19068372,Tighnari,Zhongli,Dendro,Geo,1,4
17,19052023,Cyno,Venti,Electro,Anemo,1,4
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4,2
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1,4
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2,3
21,17026066,Albedo,Eula,Geo,Cryo,1,2
22,16994406,Shenhe,Xiao,Cryo,Anemo,1,2
23,16614209,Venti,none,Anemo,none,2,0
24,16451006,Ayaka,none,Cryo,none,1,0
25,16264892,Zhongli,none,Geo,none,1,0
26,15731680,Nilou,Albedo,Hydro,Geo,1,3
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1,3
28,15669918,Ganyu,none,Cryo,none,1,0
29,15110264,Yae Miko,none,Electro,none,1,0
30,14333266,Yoimiya,none,Pyro,none,2,0
31,13443619,Tartaglia,none,Hydro,none,1,0
32,13404072,Itto,none,Geo,none,1,0
33,13198046,Dehya,Cyno,Pyro,Electro,1,2
34,13145115,Xiao,none,Anemo,none,1,0
35,12619390,Eula,none,Cryo,none,1,0
36,12586764,Itto,none,Geo,none,2,0
37,12481634,Hu Tao,none,Pyro,none,1,0
38,11816107,Albedo,none,Geo,none,1,0
39,10215165,Zhongli,none,Geo,none,2,0
40,9807112,Kazuha,none,Anemo,none,1,0
41,9505798,Keqing,none,Electro,none,1,0
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4,3
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1,4
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4,2
45,8615144,Yoimiya,none,Pyro,none,1,0
46,7785438,Tartaglia,none,Hydro,none,3,0
47,7020975,Kokomi,none,Hydro,none,1,0
48,7006180,Klee,none,Pyro,none,2,0
49,6965445,Tartaglia,none,Hydro,none,2,0
50,6458188,Eula,Klee,Cryo,Pyro,3,4

 The next step is tricky. There is currently no information on how much an individual character did on a banner. As a result, I will use estimates. Please keep in mind that the data is not accurate but rather an estimate. I will use the global wish statistics from paimon.moe, to determine the ratio between the 2 characters and split the revenue accordingly. This info will be a very rough estimate since paimon.moe only contains data of its users and the revenue table contains data from ONLY the Chinese iOS market. However this is the only data I'm able to work with.

In [33]:
revenue['ratio1'] = revenue.character2.apply(lambda x: 100 if x == 'none' else np.nan)  
revenue['ratio2'] = np.nan
revenue['character1'].replace({revenue['character1'][5]: 'Shogun', 'Raiden Shogun': 'Shogun'}, inplace=True)

In [34]:
# [[char1, char2, ratio1, ratio2]] structure of the list of lists

def find_index_lst(char1, char2, lst):
    for index, sublist in enumerate(lst):
        if char1 == sublist[0] and char2 == sublist[1]:
            return index

def ratio(df, lst):
    for index, char in enumerate(revenue['character1']):
        if np.isnan(df['ratio1'][index]):
            lst_index = find_index_lst(char.strip(), revenue['character2'][index].strip(), lst)
            df['ratio1'][index] = lst[lst_index][2]
            df['ratio2'][index] = lst[lst_index][3]
        else:
            df['ratio2'][index] = 0
            
ratio_lst = [['Hu Tao', 'Yelan', 27.5, 40.4], ['Shogun', 'Ayato', 53.95, 13.4], ['Ayaka', 'Shenhe', 30.77, 36.26],
            ['Nahida', 'Yoimiya', 63.47, 5.14], ['Shogun', 'Kokomi', 52.14, 13.93], ['Yelan', 'Xiao', 48.76, 18.57],
            ['Nahida', 'Nilou', 48.28, 19.1], ['Wanderer', 'Itto', 59.59, 6.84], ['Zhongli', 'Ganyu', 37.21, 30.05],
            ['Kazuha', 'Klee', 59.14, 8.76], ['Ayato', 'Venti', 42.75, 24.46], ['Tighnari', 'Zhongli', 27.1, 39.5],
            ['Cyno', 'Venti', 47.41, 18.87], ['Tartaglia', 'Yae Miko', 24.52, 39.91], ['Alhaitham', 'Xiao', 51.05, 15.59],
            ['Alhaitham', 'Kazuha', 18.79, 49.34], ['Albedo', 'Eula', 34.15, 31.59], ['Shenhe', 'Xiao', 26.94, 40.14],
            ['Nilou', 'Albedo', 50.42, 16.77], ['Ganyu', 'Kokomi', 36.33, 29.54], ['Dehya', 'Cyno', 40.72, 24.04],
            ['Yoimiya', 'Yae Miko', 25.29, 40], ['Baizhu', 'Ganyu', 43.86, 22.26], ['Kokomi', 'Wanderer', 31.84, 34.68],
            ['Eula', 'Klee', 48, 18.34]]

ratio(revenue, ratio_lst)
revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2,ratio1,ratio2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3,2,28,40
1,37919130,Shogun,Ayato,Electro,Hydro,3,2,54,13
2,35962024,Ayaka,Shenhe,Cryo,none,3,2,31,36
3,35939066,Ayaka,none,Cryo,none,2,0,100,0
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1,3,63,5
5,33560259,Shogun,Kokomi,Electro,Hydro,1,2,52,14
6,33020905,Shogun,none,Electro,none,1,0,100,0
7,32177144,Yelan,Xiao,Hydro,Anemo,1,3,49,19
8,30632752,Venti,none,Anemo,none,1,0,100,0
9,28019235,Nahida,Nilou,Dendro,Hydro,1,2,48,19
10,27126505,Wanderer,Itto,Anemo,Geo,1,3,60,7
11,26780298,Zhongli,Ganyu,Geo,Cryo,3,2,37,30
12,25226952,Hu Tao,none,Pyro,none,2,0,100,0
13,24808479,Kazuha,Klee,Anemo,Pyro,2,3,59,9
14,22767455,Ayato,Venti,Hydro,Anemo,1,3,43,24
15,22750080,Klee,none,Pyro,none,1,0,100,0
16,19068372,Tighnari,Zhongli,Dendro,Geo,1,4,27,40
17,19052023,Cyno,Venti,Electro,Anemo,1,4,47,19
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4,2,25,40
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1,4,51,16
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2,3,19,49
21,17026066,Albedo,Eula,Geo,Cryo,1,2,34,32
22,16994406,Shenhe,Xiao,Cryo,Anemo,1,2,27,40
23,16614209,Venti,none,Anemo,none,2,0,100,0
24,16451006,Ayaka,none,Cryo,none,1,0,100,0
25,16264892,Zhongli,none,Geo,none,1,0,100,0
26,15731680,Nilou,Albedo,Hydro,Geo,1,3,50,17
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1,3,36,30
28,15669918,Ganyu,none,Cryo,none,1,0,100,0
29,15110264,Yae Miko,none,Electro,none,1,0,100,0
30,14333266,Yoimiya,none,Pyro,none,2,0,100,0
31,13443619,Tartaglia,none,Hydro,none,1,0,100,0
32,13404072,Itto,none,Geo,none,1,0,100,0
33,13198046,Dehya,Cyno,Pyro,Electro,1,2,41,24
34,13145115,Xiao,none,Anemo,none,1,0,100,0
35,12619390,Eula,none,Cryo,none,1,0,100,0
36,12586764,Itto,none,Geo,none,2,0,100,0
37,12481634,Hu Tao,none,Pyro,none,1,0,100,0
38,11816107,Albedo,none,Geo,none,1,0,100,0
39,10215165,Zhongli,none,Geo,none,2,0,100,0
40,9807112,Kazuha,none,Anemo,none,1,0,100,0
41,9505798,Keqing,none,Electro,none,1,0,100,0
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4,3,25,40
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1,4,44,22
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4,2,32,35
45,8615144,Yoimiya,none,Pyro,none,1,0,100,0
46,7785438,Tartaglia,none,Hydro,none,3,0,100,0
47,7020975,Kokomi,none,Hydro,none,1,0,100,0
48,7006180,Klee,none,Pyro,none,2,0,100,0
49,6965445,Tartaglia,none,Hydro,none,2,0,100,0
50,6458188,Eula,Klee,Cryo,Pyro,3,4,48,18

#### The next step is to simplify the ratios by dividing each one with the smaller amount.

In [35]:
def simplify_ratio(df):
    for index, num in enumerate(df['ratio1']):
        num2 = df['ratio2'][index]
        
        # base case
        if num2 == 0:
            df['ratio1'][index] = 1
        
        elif num2 >= num:
            df['ratio1'][index] = 1
            df['ratio2'][index] /= num
        else:
            df['ratio1'][index] /= num2
            df['ratio2'][index] = 1

simplify_ratio(revenue)
revenue.ratio1 = revenue.ratio1.round(2)
revenue.ratio2 = revenue.ratio2.round(2)

In [36]:
revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2,ratio1,ratio2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3,2,1,1
1,37919130,Shogun,Ayato,Electro,Hydro,3,2,4,1
2,35962024,Ayaka,Shenhe,Cryo,none,3,2,1,1
3,35939066,Ayaka,none,Cryo,none,2,0,1,0
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1,3,12,1
5,33560259,Shogun,Kokomi,Electro,Hydro,1,2,4,1
6,33020905,Shogun,none,Electro,none,1,0,1,0
7,32177144,Yelan,Xiao,Hydro,Anemo,1,3,3,1
8,30632752,Venti,none,Anemo,none,1,0,1,0
9,28019235,Nahida,Nilou,Dendro,Hydro,1,2,3,1
10,27126505,Wanderer,Itto,Anemo,Geo,1,3,9,1
11,26780298,Zhongli,Ganyu,Geo,Cryo,3,2,1,1
12,25226952,Hu Tao,none,Pyro,none,2,0,1,0
13,24808479,Kazuha,Klee,Anemo,Pyro,2,3,7,1
14,22767455,Ayato,Venti,Hydro,Anemo,1,3,2,1
15,22750080,Klee,none,Pyro,none,1,0,1,0
16,19068372,Tighnari,Zhongli,Dendro,Geo,1,4,1,1
17,19052023,Cyno,Venti,Electro,Anemo,1,4,3,1
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4,2,1,2
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1,4,3,1
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2,3,1,3
21,17026066,Albedo,Eula,Geo,Cryo,1,2,1,1
22,16994406,Shenhe,Xiao,Cryo,Anemo,1,2,1,1
23,16614209,Venti,none,Anemo,none,2,0,1,0
24,16451006,Ayaka,none,Cryo,none,1,0,1,0
25,16264892,Zhongli,none,Geo,none,1,0,1,0
26,15731680,Nilou,Albedo,Hydro,Geo,1,3,3,1
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1,3,1,1
28,15669918,Ganyu,none,Cryo,none,1,0,1,0
29,15110264,Yae Miko,none,Electro,none,1,0,1,0
30,14333266,Yoimiya,none,Pyro,none,2,0,1,0
31,13443619,Tartaglia,none,Hydro,none,1,0,1,0
32,13404072,Itto,none,Geo,none,1,0,1,0
33,13198046,Dehya,Cyno,Pyro,Electro,1,2,2,1
34,13145115,Xiao,none,Anemo,none,1,0,1,0
35,12619390,Eula,none,Cryo,none,1,0,1,0
36,12586764,Itto,none,Geo,none,2,0,1,0
37,12481634,Hu Tao,none,Pyro,none,1,0,1,0
38,11816107,Albedo,none,Geo,none,1,0,1,0
39,10215165,Zhongli,none,Geo,none,2,0,1,0
40,9807112,Kazuha,none,Anemo,none,1,0,1,0
41,9505798,Keqing,none,Electro,none,1,0,1,0
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4,3,1,2
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1,4,2,1
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4,2,1,1
45,8615144,Yoimiya,none,Pyro,none,1,0,1,0
46,7785438,Tartaglia,none,Hydro,none,3,0,1,0
47,7020975,Kokomi,none,Hydro,none,1,0,1,0
48,7006180,Klee,none,Pyro,none,2,0,1,0
49,6965445,Tartaglia,none,Hydro,none,2,0,1,0
50,6458188,Eula,Klee,Cryo,Pyro,3,4,3,1

#### Next step is to breakdown the revenue and assign it to each character depending on the ratio.

In [37]:
revenue['revenue1'] = 0
revenue['revenue2'] = 0

for index, num in enumerate(revenue['ratio1']):
    num2 = revenue['ratio2'][index]
    total = num2 + num
    
    x = int(revenue['Revenue (USD)'][index]) / total
    revenue['revenue1'][index] = x * revenue['ratio1'][index]
    revenue['revenue2'][index] = x * revenue['ratio2'][index]

In [38]:
revenue

,Revenue (USD),character1,character2,element1,element2,banner1,banner2,ratio1,ratio2,revenue1,revenue2
0,46556153,Hu Tao,Yelan,Pyro,Hydro,3,2,1,1,18848645,27707508
1,37919130,Shogun,Ayato,Electro,Hydro,3,2,4,1,30380536,7538594
2,35962024,Ayaka,Shenhe,Cryo,none,3,2,1,1,16496341,19465683
3,35939066,Ayaka,none,Cryo,none,2,0,1,0,35939066,0
4,34017290,Nahida,Yoimiya,Dendro,Pyro,1,3,12,1,31469178,2548112
5,33560259,Shogun,Kokomi,Electro,Hydro,1,2,4,1,26480036,7080223
6,33020905,Shogun,none,Electro,none,1,0,1,0,33020905,0
7,32177144,Yelan,Xiao,Hydro,Anemo,1,3,3,1,23312917,8864227
8,30632752,Venti,none,Anemo,none,1,0,1,0,30632752,0
9,28019235,Nahida,Nilou,Dendro,Hydro,1,2,3,1,20081775,7937460
10,27126505,Wanderer,Itto,Anemo,Geo,1,3,9,1,24332838,2793667
11,26780298,Zhongli,Ganyu,Geo,Cryo,3,2,1,1,14824808,11955490
12,25226952,Hu Tao,none,Pyro,none,2,0,1,0,25226952,0
13,24808479,Kazuha,Klee,Anemo,Pyro,2,3,7,1,21607385,3201094
14,22767455,Ayato,Venti,Hydro,Anemo,1,3,2,1,14488380,8279075
15,22750080,Klee,none,Pyro,none,1,0,1,0,22750080,0
16,19068372,Tighnari,Zhongli,Dendro,Geo,1,4,1,1,7751371,11317001
17,19052023,Cyno,Venti,Electro,Anemo,1,4,3,1,13624096,5427927
18,18437409,Tartaglia,Yae Miko,Hydro,Electro,4,2,1,2,7010422,11426987
19,18361860,Alhaitham,Xiao,Dendro,Anemo,1,4,3,1,14061659,4300201
20,17459928,Alhaitham,Kazuha,Dendro,Anemo,2,3,1,3,4809898,12650030
21,17026066,Albedo,Eula,Geo,Cryo,1,2,1,1,8840457,8185609
22,16994406,Shenhe,Xiao,Cryo,Anemo,1,2,1,1,6825063,10169343
23,16614209,Venti,none,Anemo,none,2,0,1,0,16614209,0
24,16451006,Ayaka,none,Cryo,none,1,0,1,0,16451006,0
25,16264892,Zhongli,none,Geo,none,1,0,1,0,16264892,0
26,15731680,Nilou,Albedo,Hydro,Geo,1,3,3,1,11808568,3923112
27,15681840,Ganyu,Kokomi,Cryo,Hydro,1,3,1,1,8649625,7032215
28,15669918,Ganyu,none,Cryo,none,1,0,1,0,15669918,0
29,15110264,Yae Miko,none,Electro,none,1,0,1,0,15110264,0
30,14333266,Yoimiya,none,Pyro,none,2,0,1,0,14333266,0
31,13443619,Tartaglia,none,Hydro,none,1,0,1,0,13443619,0
32,13404072,Itto,none,Geo,none,1,0,1,0,13404072,0
33,13198046,Dehya,Cyno,Pyro,Electro,1,2,2,1,8291709,4906337
34,13145115,Xiao,none,Anemo,none,1,0,1,0,13145115,0
35,12619390,Eula,none,Cryo,none,1,0,1,0,12619390,0
36,12586764,Itto,none,Geo,none,2,0,1,0,12586764,0
37,12481634,Hu Tao,none,Pyro,none,1,0,1,0,12481634,0
38,11816107,Albedo,none,Geo,none,1,0,1,0,11816107,0
39,10215165,Zhongli,none,Geo,none,2,0,1,0,10215165,0
40,9807112,Kazuha,none,Anemo,none,1,0,1,0,9807112,0
41,9505798,Keqing,none,Electro,none,1,0,1,0,9505798,0
42,9154188,Yoimiya,Yae Miko,Pyro,Electro,4,3,1,2,3548135,5606053
43,9108580,Baizhu,Ganyu,Dendro,Cryo,1,4,2,1,6041718,3066862
44,8905726,Kokomi,Wanderer,Hydro,Anemo,4,2,1,1,4261113,4644613
45,8615144,Yoimiya,none,Pyro,none,1,0,1,0,8615144,0
46,7785438,Tartaglia,none,Hydro,none,3,0,1,0,7785438,0
47,7020975,Kokomi,none,Hydro,none,1,0,1,0,7020975,0
48,7006180,Klee,none,Pyro,none,2,0,1,0,7006180,0
49,6965445,Tartaglia,none,Hydro,none,2,0,1,0,6965445,0
50,6458188,Eula,Klee,Cryo,Pyro,3,4,3,1,4674158,1784030

#### The last step is to make one table that summarizes the info for each character in one row, this will make analyzing the data much more easier

In [39]:
revenue['character1'] = revenue['character1'].astype(str)
revenue['character2'] = revenue['character2'].astype(str)
revenue = revenue.replace(r"^ +| +$", r"", regex=True)

temp1 = revenue['character1'].tolist()
temp2 = revenue['character2'].tolist()

temp1.extend(temp2)
char_list = list(set(temp1))

edited_char = pd.DataFrame(char_list)
edited_char.columns = ['Name']
edited_char['1'] = 0
edited_char['2'] = 0
edited_char['3'] = 0
edited_char['4'] = 0
edited_char['Total'] = 0
edited_char

         Name  1  2  3  4  Total
0      Hu Tao  0  0  0  0      0
1      Keqing  0  0  0  0      0
2      Kazuha  0  0  0  0      0
3      Nahida  0  0  0  0      0
4       Yelan  0  0  0  0      0
5       Ayaka  0  0  0  0      0
6        Itto  0  0  0  0      0
7        Xiao  0  0  0  0      0
8     Zhongli  0  0  0  0      0
9        Klee  0  0  0  0      0
10     Albedo  0  0  0  0      0
11       Cyno  0  0  0  0      0
12       Eula  0  0  0  0      0
13     Shenhe  0  0  0  0      0
14     Shogun  0  0  0  0      0
15      Ganyu  0  0  0  0      0
16    Yoimiya  0  0  0  0      0
17     Baizhu  0  0  0  0      0
18       none  0  0  0  0      0
19  Alhaitham  0  0  0  0      0
20   Wanderer  0  0  0  0      0
21  Tartaglia  0  0  0  0      0
22      Ayato  0  0  0  0      0
23      Nilou  0  0  0  0      0
24     Kokomi  0  0  0  0      0
25      Dehya  0  0  0  0      0
26   Tighnari  0  0  0  0      0
27      Venti  0  0  0  0      0
28   Yae Miko  0  0  0  0      0

In [40]:
def find_index_table(df, char):
    for index, c in enumerate(df['Name']):
        if c == char:
            return index

def add_to_table(df, char, banner, value):
    index = find_index_table(df, char)
    for col in df.columns[1:5]:
        if float(col) == banner:
            df[col][index] = value

In [41]:
for i, char in enumerate(revenue['character1']):
    r = revenue
    
    char2 = r['character2'][i]
    
    val1 = r['revenue1'][i]
    val2 = r['revenue2'][i]
    
    first = r['banner1'][i]
    second = r['banner2'][i]
    
    add_to_table(edited_char, char, first, val1)
    add_to_table(edited_char, char2, second, val2)
edited_char

         Name        1        2        3        4  Total
0      Hu Tao 12481634 25226952 18848645        0      0
1      Keqing  9505798        0        0        0      0
2      Kazuha  9807112 21607385 12650030        0      0
3      Nahida 20081775        0        0        0      0
4       Yelan 23312917 27707508        0        0      0
5       Ayaka 16451006 35939066 16496341        0      0
6        Itto 13404072 12586764  2793667        0      0
7        Xiao 13145115 10169343  8864227  4300201      0
8     Zhongli 16264892 10215165 14824808 11317001      0
9        Klee 22750080  7006180  3201094  1784030      0
10     Albedo 11816107        0  3923112        0      0
11       Cyno 13624096  4906337        0        0      0
12       Eula 12619390  8185609  4674158        0      0
13     Shenhe  6825063 19465683        0        0      0
14     Shogun 33020905        0 30380536        0      0
15      Ganyu 15669918 11955490        0  3066862      0
16    Yoimiya  8615144 14333266  2548112  3548135      0
17     Baizhu  6041718        0        0        0      0
18       none        0        0        0        0      0
19  Alhaitham 14061659  4809898        0        0      0
20   Wanderer 24332838  4644613        0        0      0
21  Tartaglia 13443619  6965445  7785438  7010422      0
22      Ayato 14488380  7538594        0        0      0
23      Nilou 11808568  7937460        0        0      0
24     Kokomi  7020975  7080223  7032215  4261113      0
25      Dehya  8291709        0        0        0      0
26   Tighnari  7751371        0        0        0      0
27      Venti 30632752 16614209  8279075  5427927      0
28   Yae Miko 15110264 11426987  5606053        0      0

In [42]:
def update(df, char, num, col):
    for i, c in enumerate(df['Name']):
        if c == char:
            df[col][i] = num
# Albedo
update(edited_char, 'Albedo', 840457, '2')

# Nahida
update(edited_char, 'Nahida', 20081775, '2')
update(edited_char, 'Nahida', 31469178, '1')

# Shogun
update(edited_char, 'Shogun', 37919130, '2')

#Ganyu
update(edited_char, 'Ganyu', 8649625, '3')

edited_char = edited_char.loc[edited_char['Name'] != 'none']
edited_char['Total'] = edited_char['1'] + edited_char['2'] + edited_char['3'] + edited_char['4']
edited_char

         Name        1        2        3        4     Total
0      Hu Tao 12481634 25226952 18848645        0  56557231
1      Keqing  9505798        0        0        0   9505798
2      Kazuha  9807112 21607385 12650030        0  44064527
3      Nahida 31469178 20081775        0        0  51550953
4       Yelan 23312917 27707508        0        0  51020425
5       Ayaka 16451006 35939066 16496341        0  68886413
6        Itto 13404072 12586764  2793667        0  28784503
7        Xiao 13145115 10169343  8864227  4300201  36478887
8     Zhongli 16264892 10215165 14824808 11317001  52621866
9        Klee 22750080  7006180  3201094  1784030  34741384
10     Albedo 11816107   840457  3923112        0  16579676
11       Cyno 13624096  4906337        0        0  18530433
12       Eula 12619390  8185609  4674158        0  25479157
13     Shenhe  6825063 19465683        0        0  26290745
14     Shogun 33020905 37919130 30380536        0 101320571
15      Ganyu 15669918 11955490  8649625  3066862  39341895
16    Yoimiya  8615144 14333266  2548112  3548135  29044656
17     Baizhu  6041718        0        0        0   6041718
19  Alhaitham 14061659  4809898        0        0  18871556
20   Wanderer 24332838  4644613        0        0  28977451
21  Tartaglia 13443619  6965445  7785438  7010422  35204924
22      Ayato 14488380  7538594        0        0  22026975
23      Nilou 11808568  7937460        0        0  19746028
24     Kokomi  7020975  7080223  7032215  4261113  25394527
25      Dehya  8291709        0        0        0   8291709
26   Tighnari  7751371        0        0        0   7751371
27      Venti 30632752 16614209  8279075  5427927  60953962
28   Yae Miko 15110264 11426987  5606053        0  32143304

In [43]:
edited_char.to_csv('csv_files/revenue.csv', index=False)

# This concludes the processing, please see the Exploratory Analysis file for more